@import "variables";

.about {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.border {
    position: relative;
    width: 22.8rem;
    height: 22.8rem;
    background-color: $textColor;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    &:hover {
        background-color: $emphColor;
    }
}

.head-shot {
    position: absolute;
    top: .4rem;
    left: .4rem;
    width: 22rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.about-me {
    width: 50%;
    line-height: 1.5em;

    h1 {
        font-size: 2em;
        text-align: center;
    }

    p {
        text-indent: 2em;
    }
}
