@import "variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;

    h1 {
        text-align: center;
    }

    video {
        margin: 10vh;
    }


}

.links {
    display: flex;
    justify-content: center;

    img {
        margin: 0 auto 1rem auto;
        width: 32px;
        filter: invert(88%) sepia(76%) saturate(1%) hue-rotate(329deg) brightness(106%) contrast(96%);

        &:hover {
            filter: invert(24%) sepia(14%) saturate(2031%) hue-rotate(194deg) brightness(96%) contrast(91%);
        }
    }
}
