@import "variables";

.arien {
    display: table;
    margin-right: 0;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1.5rem;
    transform: translate(12rem, -17rem);
}

.heng {
    display: table;
    margin-right: 0;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    transform: translate(12rem, -19rem);
}

.name {
    display: block;
    margin: 0 auto;
    width: 27.5rem;
 
}

.logo {
    width: 10rem;
    vertical-align: -40vh;
}

.tag {
    font-size: 2rem;
    letter-spacing: .4rem;
    text-align: center;
    margin: -10rem 0;

    span {
        color: $emphColor;
    }
}