@import "variables";

.header {
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 8vh;

    > * {
        border: $textColor solid .3rem;
        border-radius: 1rem;
        padding: 0 2rem;

        &:hover {
            border-color: $emphColor;
        }
    }

    h2 {
        text-align: center;
        
        a {
            text-decoration: none;
            color: $textColor;

            &:hover {
                color: $emphColor;
            }
        }
    }
    
    p {
        padding-bottom: .5rem;
    }
}

.links {
    display: flex;
    justify-content: center;

    img {
        margin: 0 auto 1rem auto;
        width: 32px;
        filter: invert(88%) sepia(76%) saturate(1%) hue-rotate(329deg) brightness(106%) contrast(96%);

        &:hover {
            filter: invert(24%) sepia(14%) saturate(2031%) hue-rotate(194deg) brightness(96%) contrast(91%);
        }
    }

}